.section-container {
    position: relative;
    width: 100%;
    padding: var(--space-xl) 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .section-container {
        padding: var(--space-2xl) 0;
    }
}